@import '../../node_modules/css-reset-and-normalize-sass/scss/reset-and-normalize';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import "components/container";
@import "components/body";
@import "components/categoriesTree";
@import "components/subtasksList";

@font-face {
  font-family: toms;
  src: url(fonts/toms.ttf);
}

.app {
  font-family: toms, serif;
  display: flex;
  justify-content: center;
  margin: 0 50px 0 50px;
  min-width: 1000px;
}


