@import '../../node_modules/css-reset-and-normalize-sass/scss/reset-and-normalize';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import "components/appContainer";
@import "components/body";
@import "components/header";
@import "components/categories";
@import "components/task";
@import "components/tasks";
@import "components/mainPage";
@import "components/todoPage";

html, body, .app {
  height: 100%;
}

.app {
  display: flex;
  justify-content: center;
  min-width: 1000px;
}

.form-control {
  height: 33px;
}


