
.body-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.body-container > .todo-progress {
  width: 100%;
}

.body-container > .categories {
  margin-right: auto;
}
