
.body-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 25px;
  height: 100%;
}

.body-container > .todo-progress {
  width: 100%;
}

.body-container > .categories {
  margin-right: auto;
}
