
.categories {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.categories-tree {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
}

.category-item {
  display: flex;
  border: solid lightgrey 1px;
  padding: 4px 5px 2px 20px;
}

.category-item:hover {
  background-color: ghostwhite;
}

.category-item-selected {
  display: flex;
  color: #2e6da4;
  font-weight: bold;
}

.category-tool {
  flex: 1%;
  padding: 4px 10px 4px 3px;
}

.category-tool > button {
  padding: 0 10px;
}

.category-expand-arrow {
  margin-right: 5px;
  color: black;
  cursor: pointer;
}

.category-text {
  margin-left: 20px;
  margin-right: 10px;
  font-size: larger;
  color: #5bc0de;
  cursor: pointer;
}

.category-text > a {
  text-decoration: none;
  display: block;
  height: 100%;
}

.category-text:hover {
  color: #2e6da4;
}

.category-input {
  width: 65%;
  margin-left: 10px;
}