$header-height: 40px;

.container-header > .form-group, .checkbox, .h3 {
  margin: 0;
}

.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  width: 100%;
  height: $header-height;
}

.container-header > span {
  margin-right: auto;
  margin-left: 25px;
}

.container-header > .form-group {
  order: 2;
  margin-left: 20px;
  margin-right: 50px;
}