.task {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 50px;
}

.task {
  textarea{
    height: 300px;
    resize: none;
  }
}

.task-btns {
  align-self: flex-end;
  margin-bottom: 25px;
}

.edit-task-name {
  width: 35%;
  margin-bottom: 20px;
}

.task-status {
  margin-bottom: 20px;
}