
.tasks {
  width: 60%;
}

.tasks-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.tasks-item {
  display: flex;
  border: solid lightgrey 1px;
  align-items: center;
  padding: 30px;
}

.tasks-item > a {
  margin-left: auto;
  padding: 10px;
  color: black;
}

.tasks-item > .checkbox input[type="checkbox"]   {
  position: relative;
}

.task-text {
  font-size: 24px;
  margin-left: 15px;
}

.task-input {
  width: 50%;
  margin-left: auto;
  margin-right: 35px;
}