
.todos {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.todos-list {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
}

.todos-list > ul {
  margin-right: 20px;
}

.todos-item {
  display: flex;
  border: solid lightgrey 1px;
  align-items: center;
  padding: 30px;
}

.todos-item > a {
  margin-left: auto;
  padding: 10px;
  color: black;
}

.todos-item > .checkbox input[type="checkbox"]   {
  position: relative;
}

.todos-item-text {
  font-size: 24px;
  margin-left: 15px;
}

.todos-input {
  width: 50%;
  margin-left: auto;
  margin-right: 35px;
}