.todo {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 25px;
}

.todo {
  textarea{
    height: 300px;
    resize: none;
  }
}

.todo-btns {
  display: flex;
  justify-content: space-between;
  width: 190px;
  align-self: flex-end;
  margin-bottom: 25px;
}

.todo-edit-name {
  width: 35%;
  margin-bottom: 20px;
}

.todo-status {
  margin-bottom: 20px;
}